ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: var(--black);
  margin: 0;
}

li {
  display: inline;
  color: #fff;
  text-align: center;
  padding: 1em;
}

li.nav-link:hover {
  cursor: pointer;
}

li.nav-link:hover,
.link-active {
  color: var(--yellow);
}